/* page home */

.home {
    padding: 0 50px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 820px) {
    .home {
        padding: 0 32px ;
        width: 100%;
    }
    
}